# Database
DATABASE_URL="postgresql://localhost:5432/k_lims?schema=public"

# Application
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Security
NEXTAUTH_SECRET="your-secret-key-change-in-production"
NEXTAUTH_URL="http://localhost:3000"
